.item{ //Все для корзины
    width: 100%;
    float: left;
    margin-bottom: 10px;
    img{
        width: 70px;
        float: left;
        margin-right: 20px;
    }

    h2{
        font-size: 20px;
        margin-bottom: 10px;
    }

    b{
        color: darkred;
        font-weight: 600px;
    }

    .deleteIcon{ //Крестик в корзине,для удаления товара из корзины
        color: darkred;
        float: right;
        position: relative;
        top: -25px;
        font-size: 25px;
        cursor: pointer;
        transition: color,transform 1000ms ease;

        &:hover{
            color:darkred;
            transform: scale(1.5);
        }
    }
}

